<ion-view view-title="Tutoria">
  <ion-content>
  <div class="wrap-him">
      <div class="pic-him">
      </div>
      <div class="message-him">
          Olá! Como posso ajudar?
      </div>
  </div>

  <div class="wrap-me">
      <div class="pic-me">
      </div>
      <div class="message-me">
          Olá! Estou em dúvida se deveria comprar uma nova geladeira. O que você acha?
      </div>
      <div style="clear:both;"></div>
  </div>

  <div class="wrap-him">
      <div class="pic-him">
      </div>
      <div class="message-him">
          Olhando seu histórico de compras do mês, acho que seria melhor esperar mais um tempo.
      </div>
  </div>

  <div class="wrap-me">
      <div class="pic-me">
      </div>
      <div class="message-me">
          Ok, obrigado!
      </div>
      <div style="clear:both;"></div>
  </div>

  </ion-content>
    <div class="bar bar-footer bar-stable">
      <label class="item-input-wrapper">
      <input type="text" placeholder="Digite sua mensagem...">
    </label>
    <button class="button button-small button-clear cyan">
      Enviar
    </button>
    </div>
</ion-view>
