<ion-view view-title="Tutoria">
    <ion-content>
        <div class="wrap-him">
            <div class="pic-him">
            </div>
            <div class="message-him">
                Hum, se você adotar medidas de economia de água, vai ter mais dinheiro no fim do mês pra gastar com isso.
            </div>
        </div>
        <div class="date">
            Hoje
        </div>
        <div class="wrap-me">
            <div class="pic-me">
            </div>
            <div class="message-me">
                Olá!
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="wrap-him">
            <div class="pic-him">
            </div>
            <div class="message-him">
                Oi, Léo! Como posso ajudar?
            </div>
        </div>
        <div class="wrap-me">
            <div class="pic-me">
            </div>
            <div class="message-me">
                Estou em dúvida se deveria comprar uma nova geladeira. O que você acha?
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="wrap-him">
            <div class="pic-him">
            </div>
            <div class="message-him">
                Acho melhor primeiro pagar a última parcela do iPhone antes de realizar outra compra parcelada. Assim você não se complica mês que vem.
            </div>
        </div>
        <div class="wrap-me" ng-show="canShowMe">
            <div class="pic-me">
            </div>
            <div class="message-me">
                Ok, obrigado!
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="wrap-him" ng-show="canShowHim">
            <div class="pic-him">
            </div>
            <div class="message-him super-smiley">
                😃
            </div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Digite sua mensagem..." ng-model="inputText">
        </label>
        <button class="button button-small button-clear cyan" ng-enter="sendMsg()" ng-click="sendMsg()">
            Enviar
        </button>
    </ion-footer-bar>
</ion-view>
