<ion-view view-title="Cursos">
    <ion-content>
        <section class="main-sec">
            <div class="dash-card card">
                <ion-item class="item-divider">
                    Aula 1
                </ion-item>
                <ion-item class="cardcontent item-text-wrap white-item">
                    Desde pequenos ouvimos dos nossos pais o quanto é importante saber economizar. Como se preparar para administrar as várias áreas que compõe nosso dia a dia? O nome principal é organização. Porque a vida é gerenciada por nós. Quem tem um controle sobre suas ações diárias, mesmo com os imprevistos, tem a habilidade de contornar e ajustar certos problemas.
                    <br><br>
                    Segundo dados divulgados pelo PEIC - Pesquisa de Endividamento e Inadimplência do Consumidor, em janeiro deste ano, cerca de 65% das famílias brasileiras relataram ter dívidas. E a fatia de 6,5% afirma não ter como sair das dívidas, ou seja, não ter condições de pagar suas dívidas em atraso. Se projetarmos esses percentuais em número de pessoas, a quantidade assusta. O que confirma a ausência da educação financeira. A satisfação momentânea é o maior perigo para consumidores que não controlam o impulso da compra. Gastam e pagam por um produto que na realidade não precisam.
                    <br><br>
                    A educação financeira deveria também fazer parte da grade escolar, para que os alunos, desde a infância desenvolvessem a aptidão na administração monetária, e este exercício poderia começar com a mesada dada pelos pais.
                    <br><br>
                    O ponto chave do controle dos gastos parece bem simples. Não gastar mais do se ganha. Se você tem essa capacidade, está indo no caminho certo. A maior parte dos brasileiros com problemas financeiros gasta mais do que tem, ou seja, sobrecarregam o orçamento pessoal ou familiar comprando o que não podem ou o fazem quando naquele momento poderiam esperar um pouco mais.
                    <br><br>
                    Você tem controle sobre seus gastos?
                    Artigo por Roberta Clarissa Leite 
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="item-divider">
                    Aula 2
                </ion-item>
                <ion-item class="cardcontent item-text-wrap white-item">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/wxS3vfHvArk" frameborder="0" allowfullscreen></iframe>                
                    </div>
                </ion-item>
            </div>
        </section>
    </ion-content>
</ion-view>
