<ion-view view-title="Painel">
    <ion-content>
        <section class='main-sec'>
            <div class="dash-card card">
                <ion-item class="double-item item-text-wrap white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image red-back">
                                <img src="img/tutor.jpg">
                            </div>
                        </div>
                        <div class="item-inside">
                            <p class="normal-text">Tutor</p>
                            <h2 class="purple bold">Ernesto Batista</h2>
                        </div>
                    </div>
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="item-divider">
                    Objetivos
                </ion-item>
                <ion-item class="item-icon-left item-text-wrap green item-success item-icon-smaller">
                    <span class="icon fa fa-check"></span> Invista 125 reais este mês
                </ion-item>
                <ion-item class="item-icon-left item-text-wrap item-icon-smaller">
                    <span class="icon fa"></span> Gaste 15% a menos com vestuário
                </ion-item>
                <ion-item class="item-icon-left item-text-wrap item-icon-smaller">
                    <span class="icon fa"></span> Reduza o número de compras parceladas ativas
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="item-divider">
                    Gastos por mês
                </ion-item>
                <ion-item>
                    <canvas id="line" class="chart chart-line" labels="linelabels" data="linedata" options="{showTooltips: false}" chart-colours="linecolor"></canvas>
                </ion-item>
                <ion-item class="double-item item-danger item-text-wrap">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image red-back">
                                <img src="img/tutor.jpg">
                            </div>
                        </div>
                        <div class="item-inside">
                            <h2 class="red">Você está aumentando demais seus gastos!</h2>
                        </div>
                    </div>
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="item-divider">
                    Gastos por área
                </ion-item>
                <ion-item>
                    <canvas id="pie" class="chart chart-pie" labels="pielabels" data="piedata" options="{showTooltips: false}" chart-legend='true' chart-colours="piecolors" chart-width=200></canvas>
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="double-item item-text-wrap">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image red-back">
                                <img src="img/tutor.jpg">
                            </div>
                        </div>
                        <div class="item-inside">
                            <p>Preparei um gráfico dos seus gastos com vestuário. Veja como está aumentando rapidamente. Tente melhorar mês que vem!</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item>
                    <canvas id="line" class="chart chart-line" labels="newlinelabels" data="newlinedata" options="{showTooltips: false}" chart-colours="newlinecolor" chart-width=200></canvas>
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="item-divider">
                    Prestações
                </ion-item>
                <ion-item class="double-item white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball purple-back">
                                <span class="fa fa-fw fa-television"></span>
                            </div>
                        </div>
                        <div class="item-inside">
                            <h1>Televisão</h1>
                            <div class="progressbar">
                                <div class="progressbar-inside yellow-back" ng-style="{'width': '60%'}"></div>
                            </div>
                            <p class="progress-indicator">3/5</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="double-item white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball purple-back">
                                <span class="fa fa-fw fa-sun-o"></span>
                            </div>
                        </div>
                        <div class="item-inside">
                            <h1>Viagem Nordeste</h1>
                            <div class="progressbar">
                                <div class="progressbar-inside red-back" ng-style="{'width': '20%'}"></div>
                            </div>
                            <p class="progress-indicator">2/10</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="double-item white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball purple-back">
                                <span class="fa fa-fw fa-mobile"></span>
                            </div>
                        </div>
                        <div class="item-inside">
                            <h1>iPhone</h1>
                            <div class="progressbar">
                                <div class="progressbar-inside green-back" ng-style="{'width': '80%'}"></div>
                            </div>
                            <p class="progress-indicator">4/5</p>
                        </div>
                    </div>
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="item-divider">
                    Investimentos
                </ion-item>
                <ion-item>
                    <canvas id="line" class="chart chart-line" labels="linelabels3" data="linedata3" options="{showTooltips: false}" chart-colours="linecolor3" chart-width=200></canvas>
                </ion-item>
                <ion-item class="double-item item-success item-text-wrap">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image red-back">
                                <img src="img/tutor.jpg">
                            </div>
                        </div>
                        <div class="item-inside">
                            <h2 class="green">Parabéns! Mantenha esse ritmo de investimento e logo poderá comprar aquele carro novo.</h2>
                        </div>
                    </div>
                </ion-item>
            </div>
        </section>
    </ion-content>
</ion-view>
