<ion-view view-title="Postagem">
    <ion-content>
        <section class="main-sec">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/carinha1.jpg">
                    <h2><b>LCA OU LCI</b></h2>
                    <p>Junior Carrera</p>
                </div>
                <div class="item item-body">
                    <p>
                        Olá! Meu banco possui liquidez diária em LCA (84% do CDI) sem carência.
                        <br>
                        <br> Entretanto o gerente me afirmou que fundos de RENDA FIXA são melhores que LCA e LCI, a partir de 2 anos, pois estarei na alíquota minima do IR 15%, além do que, fundos é Juros Composto, Juros sobre Juros no rendimento. LCI e LCA é juros simples, ou seja no LCA e LCI o rendimento não acumula com capital principal, juros somente sobre o Capital Principal, detalhe importante que faz toda diferença.
                        <br>
                        <br> O fundo de renda fixa recomendado por ele está rendendo 95% do CDI. É isso mesmo?
                    </p>
                    <p>
                        <a href="#" class="subdued">1 Resposta</a>
                    </p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/carinha2.jpg">
                    <h2><b>RE: LCA OU LCI</b></h2>
                    <p>Kléber de Paula Pedra</p>
                </div>
                <div class="item item-body">
                    <p>
                        O gerente do banco diz que o fundo é melhor. Só não falou que é melhor para o banco! Se quiser buscar o CDI compre Tesouro direto atrelado ao CDI, a LFT que mudou de nome agora.
                    </p>
                </div>
            </div>
            <div class="list card" ng-show="canShowMe">
                <div class="item item-avatar">
                    <img src="img/leo.jpg">
                    <h2><b>RE: LCA OU LCI</b></h2>
                    <p>Leonardo Padilha</p>
                </div>
                <div class="item item-body">
                    <label class="item item-input">
                		<textarea rows="10" placeholder="Escreva a sua resposta"></textarea>
              		</label>
                </div>
                            <button class="button button-block button-energized" ng-click="answer()">Enviar
            </button>
            </div>
                <ion-item ng-show="canShowHim" class="double-item no-border">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-smaller-ball orange-back">
                                <span class="fa fa-fw fa-plus"></span>
                            </div>
                        </div>
                        <div class="item-inside" ng-click="openAnswer()" >
                            <h2 class="colorful">Responder</h2>
                        </div>
                    </div>
                </ion-item>
        </section>
    </ion-content>
</ion-view>
