<ion-view view-title="Postagem">
	<ion-content>
		<div class="list card">

			<div class="item item-avatar">
				<img src="http://www.administradores.com.br/_assets/modules/members/member_9366.jpg">
				<h2><b>LCA OU LCI</b></h2>
				<p>Junior Carrera</p>
			</div>

			<div class="item item-body">
				<p>
					Olá! Meu banco possui liquidez diária em LCA (84% do CDI) sem carência. <br><br>

Entretanto o gerente me afirmou que fundos de RENDA FIXA são melhores que LCA e LCI, a partir de 2 anos, pois estarei na alíquota minima do IR 15%, além do que, fundos é Juros Composto, Juros sobre Juros no rendimento. LCI e LCA é juros simples, ou seja no LCA e LCI o rendimento não acumula com capital principal, juros somente sobre o Capital Principal, detalhe importante que faz toda diferença.<br><br>

O fundo de renda fixa recomendado por ele está rendendo 95% do CDI. É isso mesmo?
				</p>
				<p>
					<a href="#" class="subdued">1 Resposta</a>
				</p>
			</div>

		</div>
			<div class="item item-avatar">
				<img src="http://www.descomplicando.com/img/fotos/fotos%20de%20pessoas%201.jpg">
				<h2><b>RE: LCA OU LCI</b></h2>
				<p>Kléber de Paula Pedra</p>
			</div>

			<div class="item item-body">
				<p>
					O gerente do banco diz que o fundo é melhor. Só não falou que é melhor para o banco!
Se quiser buscar o CDI compre Tesouro direto atrelado ao CDI, a LFT que mudou de nome agora.
				</p>
			</div>

		</div>
	</ion-content>
</ion-view>
