<ion-view view-title="Histórico">
    <ion-content>
        <section class="main-sec">
            <div class="dash-card card">
                <ion-item class="double-item no-border white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-smaller-ball green-back">
                                <span class="fa fa-fw fa-plus"></span>
                            </div>
                        </div>
                        <div class="item-inside">
                            <h2 class="colorful">Adicionar crédito</h2>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="double-item no-border white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-smaller-ball red-back">
                                <span class="fa fa-fw fa-minus"></span>
                            </div>
                        </div>
                        <div class="item-inside">
                            <h2 class="colorful">Adicionar despesa  </h2>
                        </div>
                    </div>
                </ion-item>
            </div>
            
            <div class="dash-card card">
                <ion-item class="double-item item-text-wrap white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image red-back">
                                <span class="fa fa-fw fa-shopping-cart"></span>
                            </div>
                            <p class="small colorful">24/08</p>
                        </div>
                        <div class="item-inside">
                            <h1 class="red bold">Compras do mês</h1>
                            <p class="normal-text">R$ 1000,00</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-text-wrap white-item">
                    <span class="green-back pills">mercado</span>
                </ion-item>
            </div>
			<div class="dash-card card">
                <ion-item class="double-item item-text-wrap white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image red-back">
                                <span class="fa fa-fw fa-car"></span>
                            </div>
                            <p class="small colorful">20/08</p>
                        </div>
                        <div class="item-inside">

                            <h1 class="red bold">Combustível</h1>
                            <p class="normal-text">R$ 120,00</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-text-wrap white-item">
                    <span class="yellow-back pills">carro</span> 
                    <span class="red-back pills">transporte</span>
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="double-item item-text-wrap white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image red-back">
                                <span class="fa fa-fw fa-coffee"></span>
                            </div>
                            <p class="small colorful">18/08</p>
                        </div>
                        <div class="item-inside">

                            <h1 class="red bold">Café da manhã</h1>
                            <p class="normal-text">R$ 30,00</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-text-wrap white-item">
                    <span class="gray-back pills">café</span>
                </ion-item>
            </div>
			<div class="dash-card card">
                <ion-item class="double-item item-text-wrap white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image blue-back">
                                <span class="fa fa-fw fa-area-chart"></span>
                            </div>
                            <p class="small colorful">16/08</p>
                        </div>
                        <div class="item-inside">

                            <h1 class="blue bold">Depósito em poupança</h1>
                            <p class="normal-text">R$ 150,00</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-text-wrap white-item">
                    <span class="blue-back pills">investimento</span> 
                    <span class="purple-back pills">poupança</span>
                </ion-item>
            </div>
            <div class="dash-card card">
                <ion-item class="double-item item-text-wrap white-item">
                    <div class="double-wrapper">
                        <div class="item-badge">
                            <div class="item-ball item-image red-back">
                                <span class="fa fa-fw fa-lightbulb-o"></span>
                            </div>
                            <p class="small colorful">10/08</p>
                        </div>
                        <div class="item-inside">

                            <h1 class="red bold">Conta de luz</h1>
                            <p class="normal-text">R$ 230,00</p>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-text-wrap white-item">
                    <span class="orange-back pills">conta</span>

                    <span class="cyan-back pills">luz</span>
                </ion-item>
            </div>
            
        </section>
    </ion-content>
</ion-view>
