<ion-view hide-back-button="true" hide-nav-bar="true" >
    <ion-content class="intro padding">
        <ion-slide-box on-slide-changed="slideChanged(index)">
            <ion-slide>
                <div class="padding" align="center">
                    <img class="logo" src="img/Logoporquinhotransparente.png">
                </div>
                <div class="main intro_title">
                    <p class="intro animated fadeIn">
                             Com o Fintutor você
                        <br> poderá aprender como
                        <br> cuidar e aprimorar o
                        <br> controle de suas finanças!
                    </p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="title">
                    <h3>Login</h3>

                    <a href="#/app/dash" class="button button-block button-positive">
                    <i> Facebook Login
                    </a>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
