<ion-view hide-back-button="true" hide-nav-bar="true" >
    <ion-content class="intro padding">
        <ion-slide-box on-slide-changed="slideChanged(index)">
            <ion-slide>
                <div class="main intro_title">
                    <h1 class="animated fadeIn">Bem-Vindo!</h1>
                    <p class="intro animated fadeIn">
                             Com o FinTutor você
                        <br> poderá aprender como
                        <br> cuidar e aprimorar o
                        <br> controle de suas finanças!
                    </p>
                    <div class="demacate animated fadeInRight">
                        <div class="row">
                            <div class="col col-33">
                                <span class="arrow left"></span>
                            </div>
                            <div class="col col-33">
                                <p>Deslize</p>
                            </div>
                            <div class="col col-33">
                                <span class="arrow right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="title">
                    <h3>Login</h3>
                    <button class="button button-block button-balanced">
                        Facebook Login
                    </button>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
