<ion-view view-title="Cursos">
	<ion-content>
		<section class="main-sec">
			<div class="dash-card card">
				<ion-item class="double-item item-text-wrap white-item">
					<div class="double-wrapper">
						<div class="item-badge">
							<div class="item-ball item-image blue-back">
								<span class="fa fa-fw fa-money"></span>
							</div>
						</div>
						<div class="item-inside">
							<h1 class="blue bold">Gerenciando seus gastos</h1>
							<p class="normal-text">Controle de forma eficaz as suas despesas.</p>
						</div>
					</div>
				</ion-item>
			</div>
			<div class="dash-card card">
				<ion-item class="double-item item-text-wrap white-item">
					<div class="double-wrapper">
						<div class="item-badge">
							<div class="item-ball item-image blue-back">
								<span class="fa fa-fw fa-bank"></span>
							</div>
						</div>
						<div class="item-inside">
							<h1 class="blue bold">Aprendendo a investir</h1>
							<p class="normal-text">Faça seu dinheiro render mais.</p>
						</div>
					</div>
				</ion-item>
			</div>
			<div class="dash-card card">
				<ion-item class="double-item item-text-wrap white-item">
					<div class="double-wrapper">
						<div class="item-badge">
							<div class="item-ball item-image blue-back">
								<span class="fa fa-fw fa-line-chart"></span>
							</div>
						</div>
						<div class="item-inside">
							<h1 class="blue bold">Abrindo sua primeira empresa</h1>
							<p class="normal-text">O que saber para iniciar o seu negócio.</p>
						</div>
					</div>
				</ion-item>
			</div>
			<div class="dash-card card">
				<ion-item class="double-item item-text-wrap white-item">
					<div class="double-wrapper">
						<div class="item-badge">
							<div class="item-ball item-image blue-back">
								<span class="fa fa-fw fa-dollar"></span>
							</div>
						</div>
						<div class="item-inside">
							<h1 class="blue bold">Fazendo orçamento</h1>
							<p class="normal-text">Aprenda a cobrar pelos seus serviços.</p>
						</div>
					</div>
				</ion-item>
			</div>
		</section>
	</ion-content>
</ion-view>
